@charset "UTF-8";

*{
    margin:0;
    padding: 0;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover; 
}

main{
    position: relative;
    height: 97vh;

}
section#telefone{
    background: url(../imagens/frame-iphone.png);
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 311px;
    height: 627px;
}
iframe#tela{
    position:relative;
    top:80px;
    left:23px;
    width:268px;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin:10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    border:2px solid rgba(255, 255, 255, 0.493);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473) ;
    transition: transform 0.3s, border 1s;
}